@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
  text-decoration: none;
}

.navegador {
  background: #00264A;
  height: 80px;
  width: 100%;
  padding: auto;
}
.navegador ul {
  float: right;
  margin-right: 20px;
}
.navegador ul ul li a {
  color: white;
  font-size: 18px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
.navegador ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navegador ul li ul li a {
  color: white;
  font-size: 18px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navegador ul li a {
  color: white;
  font-size: 18px;
  padding: 7 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 50px;
}

li a.active, li a:hover {
  background-color: darkmagenta;
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 540px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 50vh;
    background: #00264A;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navegador ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navegador ul li a {
    font-size: 20px;
  }
  li a:hover > li a.active {
    background: none;
    color: red;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
body {
  font-family: "spartan", sans-serif;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  overflow-x: hidden;
  min-height: 100vh;
}

.bodyContacto {
  display: grid;
  min-height: 100vh;
}

.container {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  padding: 15px 9%;
  padding-bottom: 100px;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box img {
  height: 80px;
}

.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}

.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

@media (max-width: 896px) {
  .container {
    padding: 20px;
  }
}
.contenedor {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-left: 120px;
}

.contenedor .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenedor .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.contenedor .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type=button] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type=button]:hover {
  background: #5029bc;
}

@media (max-width: 440px) {
  .contenedor {
    margin: 40px 33px;
    height: 80vh;
  }
  .contenedor .content {
    flex-direction: column-reverse;
  }
  .contenedor .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contenedor .content .left-side::before {
    display: none;
  }
  .contenedor .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
.acercade {
  display: flex;
  background-image: url(/assets/img/fondopag.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.parrafo {
  background-image: radial-gradient(#000 0.5px, transparent 1400px);
  border-radius: 30px;
  padding: 9px;
  text-align: justify;
}

.acercade .texto {
  font-size: 25px;
  width: 700px;
  height: fit-content;
  margin-top: 0;
  color: #fff;
}

@media (max-width: 540px) {
  .acercade .texto {
    font-size: 15px;
    margin-top: auto;
    padding: 8px;
    width: 280px;
  }
  .parrafo {
    height: 70vh;
    margin: 3px;
    width: 300px;
  }
}
.direccion {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 3;
  grid-template-areas: "texto texto texto" "map map map " "map map map ";
  margin: 0;
  padding: 0;
  justify-content: center;
}

.direccion h3 {
  grid-area: texto;
  text-align: center;
  margin-top: 35px;
  font-size: 1.2rem;
}

iframe {
  grid-area: map;
  height: 400px;
  width: 80vw;
  margin: 45px;
  padding: 0;
  margin-bottom: 23vh;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
  min-height: 100vh;
}/*# sourceMappingURL=style.css.map */