.navegador{
    background: #00264A;
    height: 80px;
    width: 100%;
    padding: auto;
    ul{
        float: right;
        margin-right: 20px;
        ul li a{
            color: white;
            font-size: 18px;
            padding: 7 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }
        li{
            display: inline-block;
            line-height: 80px;
            margin: 0 5px;
            ul li a{
                color: white;
                font-size: 18px;
                padding: 7 13px;
                border-radius: 3px;
                text-transform: uppercase;
            }
        }
    }
}
.navegador ul li a{
    color: white;
    font-size: 18px;
    padding: 7 13px;
    border-radius: 3px;
    text-transform: uppercase; 
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
}

li a.active, li a:hover{
    background-color: darkmagenta;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}